<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
	<script type="text/javascript" src="../plugin/jquery-3.1.0.min.js"></script>
	    <title>サイト</title>
</head>

<body>
    <h1>My Site</h1>
    <p>Welcome to My Site</p>
    <%=user %> さんようこそ。
	<form id='form' action="https://192.168.0.5:3200/get_gps" method="POST">
		<a id='send' href='#'>send</a>
	</form>
    <p>
	    <a href="/logout">ログアウト</a>
    </p>

	<script>
		$('#send').click(function(){
			$('#form').submit();
		});
	</script>
	</body>
</html>
