<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
	<script type="text/javascript" src="../plugin/jquery-3.1.0.min.js"></script>
	    <title>サイト</title>
</head>

<body>
    <h1>My Site</h1>
    <p>Welcome to My Site</p>
    <%=user %> さんようこそ。
	<form id='form_send' action="https://172.25.76.56:3200/get_gps" method="POST">
		<a id='send' href='#'>send</a>
	</form>
	<form id='form_box' action="https://172.25.76.56:3200/box" method="POST">
		<a id='box' href='#'>box</a>
	</form>
	<form id='form_friend' action="https://172.25.76.56:3200/friend" method="POST">
		<a id='friend' href='#'>Add friend</a>
	</form>
    <p>
	    <a href="/logout">Logout</a>
    </p>

	<script>
		$('#send').click(function(){
			$('#form_send').submit();
		});
		$('#box').on("click",function(){
			$('#form_box').submit();
		});
		$('#friend').on("click",function(){
			$('#form_friend').submit();
		});
	</script>
	</body>
</html>
