<!DOCTYPE html>
<head>
<title>Sending</title>
<link rel="stylesheet" type="text/css" href="../css/send.css">
<script src="../plugin/jquery-3.1.0.min.js"></script>
<script src="../plugin/jquery-cookie/src/jquery.cookie.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript" charset="utf-8" src="http://js.api.olp.yahooapis.jp/OpenLocalPlatform/V1/jsapi?appid=dj0zaiZpPVJHakJrSDFTQUd1aSZzPWNvbnN1bWVyc2VjcmV0Jng9NGY-"></script>

<body>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densityDpi=medium-dpi">

<div id="map"></div>
<img class="drag" id="arrow" src="image/arrow.jpg">
<a id="send" href="#">send</a>
<script type="text/javascript">
	var IP = "172.25.76.56";
	var HTTP_PORT = "3100";
	var HTTPS_PORT = "3200";
	var s = io.connect('http://'+IP+':'+HTTP_PORT);
	var sx;
	var sy;
$(function(){

	console.log("start");
	tri = 1; //if tri=1 then draw map
    //drawmap(289);
	ymap = new Y.Map("map");
	window.addEventListener("deviceorientation",deviceorientationHandler);
	$('.drag').on("mousedown",mdown);
	$('.drag').on("touchstart",mdown);
	if($.cookie("gps_x")){
		var name = $.cookie("username");
		var x = $.cookie("gps_x");
		var y = $.cookie("gps_y");
		s.emit("update",{name:name,x:x,y:y});
	}

	});

$('#send').on("click",function(){
		//Oz data for Debug
		if($.cookie("gps_x")){
		var msg = "test"; //message
		var name = $.cookie("username");; //who send
		var x = $.cookie("gps_x"); //now location(x=keido)
		var y = $.cookie("gps_y");      //now location(y=ido)
		var dir = $.cookie("direction"); //direction
		var theta = 60;
		var r = 10;
		alert("send!");
		s.emit("sendmsg",{
msg:msg,name:name,r:r,x:x,y:y,dir:dir,theta:theta
});
		console.log(x);
		}
		});

function drawmap(direction){
	console.log("1");
	if($.cookie("gps_x")){
		console.log("2");
		var gx = +$.cookie("gps_x");
		var gy = +$.cookie("gps_y");
		var dis = direction; //N:0 E:90
		var range = 60;
		console.log(gx);
		console.log(gy);
		if(tri == 1){
			console.log("3");
			ymap.drawMap(new Y.LatLng(gy, gx), 17, Y.LayerSetId.NORMAL);
			tri = 0;
		}
		console.log("4");
		var strokeStyle = new Y.Style("00ff00",4,0.7);
		var fillStyle = new Y.Style("00ff00",null,0.2);
		var circle = new Y.Circle(
				new Y.LatLng(gy,gx),
				new Y.Size(0.01,0.01),
				{unit:"km",strokeStyle:strokeStyle,fillStyle:fillStyle}
				);
		var latlngs = [
			new Y.LatLng(gy,gx),
			    new Y.LatLng(cir_mapy(100,dis-range/2,gy),cir_mapx(100,dis-range/2,gx)),
			    new Y.LatLng(cir_mapy(100,dis-range/3,gy),cir_mapx(100,dis-range/3,gx)),
			    new Y.LatLng(cir_mapy(100,dis-range/4,gy),cir_mapx(100,dis-range/4,gx)),
			    new Y.LatLng(cir_mapy(100,dis-range/5,gy),cir_mapx(100,dis-range/5,gx)),
			    new Y.LatLng(cir_mapy(100,dis-range/6,gy),cir_mapx(100,dis-range/6,gx)),
			    new Y.LatLng(cir_mapy(100,dis,gy),cir_mapx(100,dis,gx)),
			    new Y.LatLng(cir_mapy(100,dis+range/6,gy),cir_mapx(100,dis+range/6,gx)),
			    new Y.LatLng(cir_mapy(100,dis+range/5,gy),cir_mapx(100,dis+range/5,gx)),
			    new Y.LatLng(cir_mapy(100,dis+range/4,gy),cir_mapx(100,dis+range/4,gx)),
			    new Y.LatLng(cir_mapy(100,dis+range/3,gy),cir_mapx(100,dis+range/3,gx)),
			    new Y.LatLng(cir_mapy(100,dis+range/2,gy),cir_mapx(100,dis+range/2,gx))
		];
		var polyline = new Y.Polygon(latlngs, {
strokeStyle: strokeStyle,fillStyle: fillStyle});
		ymap.addFeature(circle);
		ymap.addFeature(polyline);
		window.setTimeout(function(){
				ymap.removeFeature(circle);
				ymap.removeFeature(polyline);
				},200);
	}
	console.log("5");
}	

function deviceorientationHandler(event) {
	//Axis
	console.log("device");
	var beta = event.beta; //x
	var gamma = event.gamma; //y
	var alpha = event.alpha; //z

	//Direction
	//var compassHeading = getCompassHeading(alpha, beta, gamma);
	var compassHeading = getCompassHeading(alpha, beta, gamma);
	var direction = 360 - compassHeading;
	$.cookie("direction",alpha+90);
	drawmap((alpha+90));
}

function getCompassHeading(alpha, beta, gamma) {
	//Get Direction from axis data
	var degtorad = Math.PI / 180;
	var _x = beta ? beta * degtorad : 0;
	var _y = gamma ? gamma * degtorad : 0;
	var _z = alpha ? alpha * degtorad : 0;
	var cY = Math.cos(_y);
	var cZ = Math.cos(_z);
	var sX = Math.sin(_x);
	var sY = Math.sin(_y);
	var sZ = Math.sin(_z);
	var Vx = -cZ * sY - sZ * sX * cY;
	var Vy = -sZ * sY + cZ * sX * cY;
	var compassHeading = Math.atan(Vx / Vy);
	if (Vy < 0) {
		compassHeading += Math.PI;
	}else if (Vx < 0){
		compassHeading += 2 * Math.PI;
	}
	return compassHeading * ( 180 / Math.PI );
}

function cir_mapx(r,theta,gx){
	//r[m] , theta[do](N:0 E:90 S:180 W:270)
	var disx = r/90000*Math.cos(theta/180*Math.PI)+gx; //keido in do
	console.log(disx);
	return disx;
}

function cir_mapy(r,theta,gy){
	var disy = r/111000*Math.sin(theta/180*Math.PI)+gy; //ido in do
	console.log(disy);
	return disy;
}

//mouse down function
function mdown(e) {
	console.log("drag!");
	if(e.type == "mousedown"){
		var event = e;
	}else{
		var event = e.changedTouches[0];
	}

	sx = event.pageX - this.offsetLeft;
	sy = event.pageY - this.offsetTop;

	$('body').on("mousemove",mmove);
	$('body').on("touchmove",mmove);
}

function mmove(e){
	if(e.type == "mousemove"){
		var event = e;
	}else{
		var event = e.changedTouches[0];
	}
		
	e.preventDefault();

	$('.drag').offset({top:event.pageY-sy});

	$('.drag').on("mouseup",mup);
	$('body').on("mouseleave",mup);
	$('.drag').on("touchend",mup);
	$('body').on("touchleave",mup);
}

//mouse up function
function mup(e){

	$('body').unbind();
	$('.drag').unbind('mousemove',mmove);
	$('.drag').unbind('touchmove',mmove);
	
	$('.drag').offset({top:10});
}


//function sendmsg(
</script>
</body>
</html>
